*, ::after, ::before{
    box-sizing: border-box;
}

/* VAR */
:root{
    --colo-primary: #0065FC;
    --color-primary-clearer: #DEEBFF;
    --color-secondary: #f2f2f2;
    --color-thirdly:#8f8f8f;
    --color-thirdly-clearer:#dbdbdb;

  
}
/* END VAR */
body{
    --res: calc(0.01* 20vmin);
    background-color: var(--color-secondary);
    font-family: 'Police-primary';
}

body{
    width: 100%;
    font-family: 'Raleway', sans-serif;
}
header,main, .container-footer{
    max-width: 1600px;
    width: 100%;
    min-width: 350px;;
    margin:  0 auto;
    padding-left: 1%;
    padding-right: 1%;
}
section{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
footer{
    background: var(--color-thirdly-clearer);
}

header p {
    margin-top: 10px;
    color: var(--color-thirdly);
}
h1, h2, h3{
    font-family: 'Raleway', sans-serif;
}
h1{
    font-size: 25px;
}
h2{
    font-size: 25px;
}
h3{
    font-size: 20px;
}
a{
    text-decoration: none;
}
a:hover{
   color: var(--colo-primary);
}
.link-home{
    margin-left: 45px;
    font-weight: bold;
    color: #000;
    font-size: 19px;
}
.d-flex{
  display: flex;  
}
.container{
    padding-left: 20px;
    padding-right: 20px;
}
/* NAV */
    .container-nav{
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        flex-wrap: wrap;  
        justify-content: space-between;
    }
    .link{
        color:#000;
        text-decoration: none;
        padding: 30px;
        margin: 10 0 0 0;
        display: inline-block;
    }

    .link:hover{
        color: var(--colo-primary);
    }

    .active{
        border-top: 2px solid var(--colo-primary);
        color: var(--colo-primary);
    
    }
    .logo{
        width: 80px;
        margin-top: 11px;
    }
    .bloc-slogent{
        padding-left: 20px;
        padding-right: 20px;
    }
/* END NAV */

/* SEARCH */
    .container-search{
        margin-top: 15px;
        width: 100%;
        position: relative;
        padding-left: 20px;
        padding-right: 20px;
    }
    .search{
        width: 100%;
        position: relative;
        max-width: 412px;
    }
    .search span{
        background-color: var(--color-thirdly-clearer);
        height: 45px;
        display: block;
        width: 45px;
        border-radius: 14px 0 0 14px;
        position: absolute;
    }
    .search span i{
        color: #000;
        margin: 13px 0 0 17px;
        font-size: 20px;
    }
    .search button{
        height: 45px;
        background-color: var(--colo-primary);
        color: white;
        border-radius: 0 10px 10px 0;
        padding: 13px;
        border: none;
        font-size: 16px;
        position: absolute;
        right: 0;
    }
    .search input{
        height: 45px;
        width: 100%;
        border-top: 1px solid var(--color-thirdly);
        border-bottom: 1px solid var(--color-thirdly);
        font-size: 15px;
        font-weight: bold;
        color: #000;
        padding: 0 110px 0 55px;
        border-radius: 14px;
    }
/* END SEARCH */


/* FILTER */
    .filter{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        margin-top:50px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .filter span{
        font-weight: bolder;
        margin-right: 20px;
    }
    .one-filter {
        display: flex;
        background: #ffffff;
        border: 1px solid #000;
        border-radius: 20px;
        align-items: center;
        padding-left: 9px;
        border: 1px solid var(--color-thirdly);
        margin: 0 20px 0 20px ;
    }
    .one-filter:hover {
        background: var(--color-primary-clearer);
    }
    .one-filter span:nth-child(1){
        background-color: var(--color-primary-clearer);
        height: 40px;
        display: block;
        width: 40px;
        margin-left: -16px;
        border-radius: 20px;
        border: solid 1px var(--color-primary-clearer);
    }  
        .one-filter span:nth-child(2){
        font-weight: bold;
    }
    .one-filter span i{
        color: var(--colo-primary);
        margin: 10px;
        font-size: 20px;
    }
    .filter .nb-result{
        width: 100%;
        margin-top: 50px;
        font-size: 18px;
    }
    .nb-result i{
        margin-right:15px;
    }
/* END FILTER */
  
/* CARD */
    /* CARD Géneral*/
    .container-card{
        padding: 20px;
        display: flex;
        flex-wrap: wrap;      
        justify-content: center;
    }
    .card, .card-v2, .card-v3{
        background-color: white;
        border-radius: 20px;
        padding: 5px;
        box-shadow: 0px 6px 34px #000;
        margin: 20px;
    }
    .card a, .card-v2 a{
        text-decoration: none;
        color: #000;
        width: 100%;
        margin: 0 auto;
        display: block;
    }
    .card-image{
        width: 100%;
        height: 115px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        overflow: hidden;
    }
    .card-image img{
        width: 100%;
        height: 115px;
        object-fit: cover;
        object-position: center center;
    }
    .card-title{
        font-weight: bold;
        margin-bottom: 10px;
    }
    .card-title title{
        font-size: 100%;
    }
    .card-body{
        margin: 10px;
    }
    .card-box-star{
        list-style: none;
        display: flex;
        font-size: 13px;
        margin-top: 10px;
        color: var(--color-thirdly); 
    }
    .card-box-star .true{
        color: var(--colo-primary);
    }

     /* End CARD Géneral*/

     /* CARD V1*/     
        .card{
             width: 315px;
        }
        .card .card-image{
            height: 113px;
            width: 100%;
        }
     /* End CARD V1*/  


     /* CARD V2*/     
     .card-v2{
        width: 349px;
     }
     .card-v2 a{
        display: flex;
     }
     .card-v2 .card-image{
         height: 135px;
         width: 150px;
         border-top-right-radius: 0;
     
     }
     .card-v2 .card-image img{
         height: 135px;
     }
  /* End CARD V1*/     
 /* CARD V3*/     
 .card-v3{
    max-width: 310px;
    width: 100%;
}
.card-v3.tall .card-image, .card-v3.tall .card-image img {
    height: 400px;
}

.card-v3 .card-image , .card-v3 .card-image img{
    height: 155px;
   }

/* End CARD V3*/   
   
/* FIN CARD */

/* PAGE */
    /* HOME */     
    .container-home{
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content:center;
        align-items: stretch;
    }
    .container-home h2{
        margin-left: 45px;
        margin-top: 30px;
    }
    .container-home .bloc-left{
        width: 71%;
        margin: 1%;
        background-color: var(--color-thirdly-clearer);
        border-radius: 20px;
    }
    .container-home .bloc-right{
        width: 25%;
        margin: 1%;
        background-color: var(--color-thirdly-clearer);
        border-radius: 20px;
        min-width: 307px;
    }
    .flex10::before, .flex10::after {
        content: "";
        flex-basis: 100%;
        width: 0;
        order: 2;
        border: 1px solid #ddd;
    }
    .activite-1{
        order: 1;
    }
    .activite-2{
        order: 2;
    }
    .activite-2 .card-image img{
        height: 153px;
    }
    .activite-3{
        order: 3;
    }
    .activite-4{
        order: 4;
    }
    .activite-5{
        order: 2;
    }
    .activite-6{
        order: 4;
    }
    .flex-footer{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .flex-footer div{
        width: 100%;
        max-width: 400px;
        height: 300px;
        padding: 50px;
    }
    .flex-footer div h4{
       margin-bottom: 20px;
    }
    .flex-footer div ul{
       list-style: none;
       line-height: 30px;
    }

    .bloc-activite {
        display: flex;
        flex-flow: column wrap;
        align-content: space-around;
        height: 486px;
        justify-content: space-evenly;
    }
/* END HOME */
/* PAGE */

@media screen and (max-width: 1400px) {

    .bloc-activite {
        height: auto;
    }
    .card-v3{
        max-width: 500px;
    }
    .card-v3.tall .card-image,
    .card-v3.tall .card-image img,
    .card-v3 .card-image , 
    .card-v3 .card-image img {
     height: 200px;
    }
       /* PAGE */
        /* HOME */     
        .container-home .bloc-right,
        .container-home .bloc-left{
            width: 98%;
        }
    /* END HOME */
/* PAGE */
}
@media screen and (max-width: 992px) {
    .card , .card-v2{
        width: 100%;
        max-width: 500px;
    }
    .card .card-image,
    .card .card-image img ,
    .card-v3 .card-image,
    .card-v3 .card-image img{
      height: 200px;
    }
    .card-v2 .card-image,
    .card-v2 .card-image img{
        height: 225px;
        width: 220px;
    }
 
}
@media screen and (max-width: 768px) {
    .card, .card-v2, .card-v3{
        max-width: none;
    }
    .container-activiter{
        padding-left: 30px;
        padding-right: 30px;
    }
    .container-nav .content-logo {
        width: 100%;
    } 
    .container-nav nav {
        width: 100%;
        display: flex;
        margin-bottom: 40px;
    }
    .container-nav nav a{
        width: 49%;
        text-align: center;
    }
    .logo {
        width: 80px;
        margin: 30px auto;
        text-align: center;
        display: block;
    }
    .search{
        width:75%;
    }
    .filter .lablel{
        width: 100%;
    }
    .container-home .bloc-left,
    .container-home .bloc-right{
       margin: 0;
       border-radius: 0;
       width: 100%;
    }
    .container-home .bloc-left{
        background-color: transparent;
    }
    main, .container, .container-nav, header {
        padding:0;
    }
    .active {
        border-top: none;
        border-bottom: 2px solid var(--colo-primary) !important;
    }
    .link {
        margin: 0 0 0 10;
        border-bottom: 2px solid var(--color-thirdly-clearer);
    }
}